<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578873726417-2vce6t3o1f8ifqi2n2e6hjdg98ak6vn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578873726417-2vce6t3o1f8ifqi2n2e6hjdg98ak6vn9</string>
	<key>API_KEY</key>
	<string>AIzaSyBBXY9rc_9Etqdk1X3Zj0sH4IOclKvygXs</string>
	<key>GCM_SENDER_ID</key>
	<string>578873726417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>izotsnooze.login</string>
	<key>PROJECT_ID</key>
	<string>izotsnooze</string>
	<key>STORAGE_BUCKET</key>
	<string>izotsnooze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578873726417:ios:8307aab1833e0575acfcf0</string>
</dict>
</plist>